<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764101062442-8f7b4l47u932dsf3uu6086ee8qss91sl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764101062442-8f7b4l47u932dsf3uu6086ee8qss91sl</string>
	<key>API_KEY</key>
	<string>AIzaSyDA1Vz2bWYRERhV69kaezGU-h1Sumg40yI</string>
	<key>GCM_SENDER_ID</key>
	<string>764101062442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-70965</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-70965.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764101062442:ios:be11990e4ccdf17d80f853</string>
	<key>DATABASE_URL</key>
	<string>https://todolist-70965-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>